<p id="notice"><%= notice %></p>

<h1>All Personas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Arcana</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @personas.each do |persona| %>
      <tr>
        <td><%= persona.name %></td>
        <td><%= persona.arcana.name %></td>
        <td><%= link_to 'Show', arcana_persona_path(persona.arcana.slug, persona.slug) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

